.CustomTable {
  border-collapse: collapse;
  width: 100%;
}

.CustomTable:not(.rt-TableRootTable) {
  margin-bottom: calc(var(--space-4) * -1);

  /* Prevent intrinsic line height from influencing alignment inside the table cells */
  line-height: 0;
}

.CustomTable
  th:not(:global(.rt-TableColumnHeaderCell), :global(.rt-TableRowHeaderCell)) {
  font-weight: var(--font-weight-regular);
}

.CustomTable tr:not(:global(.rt-TableRow)) {
  vertical-align: middle;
}

.CustomTable
  th:not(:global(.rt-TableColumnHeaderCell), :global(.rt-TableRowHeaderCell)),
.CustomTable td:not(:global(.rt-TableCell)) {
  padding: 0;
  padding-right: var(--space-4);
  padding-bottom: var(--space-4);
  text-align: center;
}

.CustomTable tbody tr td:first-child:not(:global(.rt-TableCell)) {
  padding-left: 0;
  padding-right: var(--space-4);
  min-width: 64px;
  text-align: left;
}

.CustomTable
  thead
  th:not(:global(.rt-TableColumnHeaderCell), :global(.rt-TableRowHeaderCell)),
.CustomTable tbody tr td:first-child:not(:global(.rt-TableCell)) {
  font-size: var(--font-size-1);
  letter-spacing: var(--letter-spacing-1);
  line-height: var(--line-height-1);
  color: var(--gray-a11);
}

.CustomTable :global(.rt-TextFieldRoot) {
  width: 180px;
}
.CustomTable :global(.rt-TextArea) {
  width: 180px;
}
.CustomTable :global(.rt-CalloutRoot) {
  white-space: nowrap;
}
.CustomTable :global(.rt-Badge) {
  vertical-align: top;
}
.CustomTable :global(.rt-SliderRoot) {
  width: 160px;
}
