.header {
  width: 100%;
  /** Note: here --gray-6 is a semantic token, not the hard coded gray at the :root */
  border-bottom: 1px solid var(--gray-6);
}

.container {
  height: var(--space-8);
  justify-content: center;
}
