.header {
  width: 100%;
  /** Note: here --gray-6 is a semantic token, not the hard coded gray at the :root */
  border-bottom: 1px solid var(--gray-6);
}

.container {
  /** TODO: what's the semantic way to specify this height? */
  height: 3.5rem; /* 56px */
  justify-content: center;
}
